{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>티켓 단체 및 대량 구매 안내</h2>
                            <div class="text">
                                <p>festa는 1인 1티켓 구매만 가능합니다. <br> 단체 / 대량 구매를 원하시는 분은 아래 안내를 따라 신청해주시기 바랍니다.</p>
                                <p>1. support@openinfradays.kr 로 신청자 명 / 신청 수량 을 알려주시기 바랍니다.</p>
                                <p>2. 결제는 무통장입금 (세금계산서 발행 가능), 카드 결제, 오프라인 행사일 당일 결제로 3가지 옵션으로 가능합니다.</p>
                                <p>3. 무통장입금을 원하실 경우, 1번내용 신청 시 사업자등록증을 먼저 보내주시기 바랍니다.</p>
                                <p>4. 단체 구매 시 티켓 가격은 3만원입니다 (부가세포함) </p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}