{% load static %}

<header class="main-header header-style-two">
    <div class="main-box">
        <div class="auto-container clearfix">
            <div class="logo-box">
                <div class="logo"><a href="/"><img src="{% static 'images/logo.svg' %}" alt="" title="OpenInfra"></a></div>
            </div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="{{ about_current }} "><a href="/about">About</a></li>
                            <li><a href="https://openinfra.dev/legal/code-of-conduct" target="_blank">Code of Conduct</a> </li>
                            <li><a href="/sessions">Sessions</a></li>
                            <li><a href="https://www.plan9.co.kr/openinfra/join.php" target="_blank">Ticket</a></li>
                            <li><a href="https://2023.ocp.openinfradays.kr/" target="_blank">Day 2</a> </li>
                            <!-- <li class="{{ sponsor_current }} dropdown"><a href="/sponsors">Sponsors</a> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="{% static 'images/logo.svg' %}" alt="" title=""></a></div>

            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
        </nav>
    </div><!-- End Mobile Menu -->
</header>