{%  extends 'base.html' %}

{% block content %}


<section id="clients-section" class="clients-section">
    <div class="auto-container">

        {% if flag %}
            <div class="sec-title">
                <h2>Registration Information<br>등록 정보</h2>
            </div>


            <div class="sponsors-outer">
                <div class="modal-page-regist">
                    <div class="section-form">
                        <dl class="form-regist">
                            <dt><label class="txt-label">Email</label></dt>
                            <dd>
                                <input id="input_update_email" type="text" class="input-text" maxlength="200"
                                       value="{{ email }}" disabled>
                            </dd>
                            <dt><label class="txt-label">Name</label></dt>
                            <dd>
                                <input id="input_update_name" type="text" class="input-text" maxlength="100"
                                       value="{{ name }}" disabled>
                            </dd>
                            <dt><label class="txt-label">Company / School</label></dt>
                            <dd>
                                <input id="input_update_org" type="text" class="input-text" maxlength="200"
                                       value="{{ company }}" disabled>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="sec-title">
                <h2>No Registration Information<br>등록된 정보가 없습니다</h2>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
