{% extends 'base.html' %}

{% block content %}
<section class="detail-section">
    <!-- Top -->
    <div class="detail-top">
        <div class="txt-top">
            <div class="detail-title">
                쿠버네티스 환경에서 HA 기반의 웹 서비스 구성하기
            </div>
        </div>
    </div>
    <div class="area-link">
        <a href="/handsonlab/akamai/apply" >신청하기 (선착순 30명)</a>
    </div>

    <div class="txt-introduce">
        <h2>개요</h2>
        <p> 난이도 : 초급 <br><br>
            준비물 : 노트북 <br><br>
            대상 : 쿠버네티스 학습을 이제 막 시작한 엔지니어
        </p>
        <h2>알아야하는 내용</h2>
        <p>
            - 쿠버네티스, Git, TerraForm에 대반 기본 지식<br><br>

        </p>
        <h2>무엇을 배울 수 있나요?</h2>
        <p>
            - Linux 기반의 ACC(Akamai Connected Cloud) 환경에서 다음과 같은 실습을 통해 Terraform과 같은 IaC 도구를 사용하여 쿠버네티스 클러스터를 생성하고 높은 가용성과 확장성, 보안성까지 갖춘  쿠버네티스 기반의 서비스를 만들기위한 아키텍처를 배워봅니다.<br><br>
            - Security Hardening 이 적용된 Linux OS를 기반으로 클라우드 인스턴스를 생성합니다.<br><br>
- Git, Terraform, kubectl 도구를 인스턴스에 설치하고 IaC 방식으로 HA(high Availability) 구성을 지원하는 쿠버네티스 클러스터를 생성합니다.<br><br>
- kubectl 도구를 통해 HTML5 기반의 Space War 애플리케이션 워크로드를 담당할 Deployment와 외부 접속을 위한 로드밸런서 타입의 Service를 생성합니다.<br><br>
- 쿠버네티스 클러스터에 배포된 애플리케이션을 실행하고 성능과 보안을 좀 더 높일 수 있는 방법을 찾아봅니다.<br><br>
        </p>
        <h2>참가자에게는 소정의 기념품을 드립니다</h2>
    </div>


</section>
{% endblock %}
