{% extends 'base.html' %}

{% block content %}
<section class="detail-section">
    <!-- Top -->
    <div class="detail-top">
        <div class="txt-top">
            <div class="detail-title">
                쿠버네티스환경에 어플리케이션 배포하기 <br>(TKS클라우드서비스를 활용한 손쉬운 앱 배포)
            </div>
        </div>
    </div>
    <div class="area-link">
        <a href="/handsonlab/skt/apply" >신청하기 (선착순 30명)</a>
    </div>

    <div class="txt-introduce">
        <h2>진행자 소개</h2>
        <p>
            최태일 <br><br>
SK텔레콤에서 TKS 프로젝트에 참여하고 있습니다.<br>
Kubernetes 환경에서 다양한 micro service 형태의 application들을 효율적으로 배포 및 관리하고, 해당 과정을 자동화하는 업무에 다년간의 경험을 보유하고 있습니다. 전반적인 클라우드 컴퓨팅 분야, 그 중 특히 배포 자동화 쪽에 관심이 많습니다.
<br><br>
           안승규<br><br>
            SKT텔레콤에서 Senior Software Engineer 로 일하고 있으며, 현재 Kubernetes Korea Group 을 리딩하고 있습니다.<br>
            2011년 이전까지는 Java Enterprise Application 개발을 해왔으며, 2015년 이전까지는 OpenStack을 활용했고, 이후 현재까지 Kubernetes와 앱현대화 및 MLOps분야의 업무에 경험을 쌓아가고 있으며, <br>
            회사는 물론 국내 오픈소스SW생태계내에서 이런 기술의 확장과 공유에 많은 관심을 가지고 기여하고 있습니다.
        </p>
        <h2>대상자 : 초보자</h2>
    </div>


</section>
{% endblock %}
