{% extends 'base.html' %}

{% block content %}
<section class="detail-section">
    <!-- Top -->
    <div class="detail-top">
        <div class="txt-top">
            <div class="detail-title">
                쿠버네티스환경에 어플리케이션 배포하기 <br>(TKS클라우드서비스를 활용한 손쉬운 앱 배포)
            </div>
        </div>
    </div>
    <div class="area-link">
        <a href="#">모집 종료</a>
    </div>

    <div class="txt-introduce">
        <h2>Handson 요약</h2>
        <p> <br>
            - TKS 클라우드 서비스를 사용하여 AWS 의 EKS 를 손쉽게 만들수 있습니다.<br><br>
            - 사용자가 만든 자바 샘플 앱을 쿠버네티스 위에 배포하는 방법을 배웁니다.<br><br>
            - Argo Rollout 을 활용하여 자바 샘플 앱을 다양한 배포 전략을 활용하여 배포합니다. (Rolling Update, Blue-Green)<br><br>
            - TKS 의 앱서빙을 활용하여 자바 앱을 더욱 손쉽게 배포하는 방법을 배웁니다.
        </p>
        
        <h2>진행자 소개</h2>
        <p> <br>
            최태일 <br>
            SK텔레콤에서 TKS 프로젝트에 참여하고 있습니다.<br>
            Kubernetes 환경에서 다양한 micro service 형태의 application들을 효율적으로 배포 및 관리하고, 해당 과정을 자동화하는 업무에 다년간의 경험을 보유하고 있습니다.<br>
            전반적인 클라우드 컴퓨팅 분야, 그 중 특히 배포 자동화 쪽에 관심이 많습니다.
            <br><br>
            
            안승규 <br>
            SKT텔레콤에서 Senior Software Engineer 로 일하고 있으며, 현재 Kubernetes Korea Group 을 리딩하고 있습니다.<br>
            2011년 이전까지는 Java Enterprise Application 개발을 해왔으며, 2015년 이전까지는 OpenStack을 활용했고, 이후 현재까지 Kubernetes와 앱현대화 및 MLOps분야의 업무에 경험을 쌓아가고 있으며, <br>
            회사는 물론 국내 오픈소스SW 생태계 내에서 이런 기술의 확장과 공유에 많은 관심을 가지고 기여하고 있습니다.<br><br>

            강태규 <br>
            SK텔레콤에서 쿠버네티스를 활용한 백엔드 플랫폼 개발 업무에 참여하고 있습니다.<br><br>

            김시엽 <br>
            SK텔레콤에서 TKS Cloud Service 의 프론트앤드 개발 업무에 참여하고 있습니다.<br><br>
        </p>
        
        <h2>개요</h2>
        <p> <br>
            1) TKS 클라우드 서비스를 활용하여 AWS 상에서 EKS 를 쉽게 배포하는 방법을 알아 봅니다.<br><br>
            2) 자바 어플리케이션을 빌드하고, 컨테이너 이미지를 만든 후에 쿠버네티스에 배포해 봅니다.<br><br>
            3) Argo Rollout 으로 Rolling update, Blue-Green 배포를 실습해 봅니다.<br><br>
            4) TKS 앱 서빙 기능으로 자바 어플리케이션을 UI 기반으로 쉽게 배포해 봅니다.
        </p>
        
        <h2>핸즈온 수강을 위한 조건</h2>
        <br>
        <h3>< 개념 이해 ></h3>
        <p> <br>
            - (docker 명령을 사용한) 컨테이너 이미지 빌드 방법을 알고 있으면 좋습니다.<br><br>
            - 쿠버네티스 리소스인 Deployment, Service, Pod 의 개념을 알고 있으면 이해하는데 도움이 됩니다.<br><br>
            - helm chart의 개념에 대해 대략적으로 이해하고 오시면 좋습니다.
        </p>
        <h3>< 준비 사항 ></h3>
        <p> <br>
            - 본인 노트북 및 SSH 클라이언트(PuTTY, Xshell 등)<br><br>
            - Chrome, Firefox 등 인터넷 브라우저
        </p>
        
        <h2>대상자</h2>
        <p> <br>
            - 레벨 : 초중급<br><br>
            - AWS 에서 EKS 생성에 어려움을 겪고 있는 분<br><br>
            - 자바 어플리케이션으로 컨테이너 이미지 빌드 방법과 쿠버네티스에 배포하는 방법을 배우고 싶으신 분<br><br>
            - 쿠버네티스에 대해서 알고 싶으신 분
        </p>
    </div>


</section>
{% endblock %}
